name: sobat_hr
description: "SOBAT HR - Human Resource Management System Mobile App"
publish_to: 'none'

version: 1.0.0+2

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # UI
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  
  # State Management
  provider: ^6.1.2
  
  # HTTP & API
  dio: ^5.4.3
  signature: ^5.5.0
  
  # Storage
  flutter_secure_storage: ^9.2.2
  shared_preferences: ^2.5.4
  
  # Utils
  intl: ^0.20.2
  open_file: ^3.5.11
  file_picker: ^8.1.7
  path_provider: ^2.1.5
  image_picker: ^1.2.1
  url_launcher: ^6.3.2
  webview_flutter: ^4.7.0
  geolocator: ^11.0.0
  geocoding: ^3.0.0
  flutter_map: ^7.0.2
  latlong2: ^0.9.1
  permission_handler: ^11.3.0
  camera: ^0.11.3
  path: ^1.9.1
  google_mlkit_face_detection: ^0.13.1
  device_info_plus: ^12.3.0
  local_auth: ^3.0.0
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/logo/logo.png"
  min_sdk_android: 21 # android min sdk min:16, default 21

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  generate: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/logo/logo.png
    - assets/images/welcome.jpg
   # - assets/images/loginImage.jpg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
